body{
  padding-left: 25px;
  padding-right: 25px;
  font-family: lato, sans-serif;
  color: #fff;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background: repeating-linear-gradient(
      to top,
      #024d72,
      rgba(39, 155, 208, 1) 45.8%,
      #035d8a)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  padding-bottom: 25px;
}
code {
  background: none;
  float: left;
}
#code {
  padding: 15px;
}
.highlight, .highlight > #code{
  background: yellow;
}
